In [1]:
data_file=r'C:\Users\Anmol\Desktop\Project\Train_Data_SAD.csv'

import pandas as pd
import math
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.linear_model import LinearRegression, Lasso, Ridge
import numpy as np
from sklearn.model_selection import KFold
%matplotlib inline
from sklearn.preprocessing import LabelEncoder


## Train Data Set
Train_ld=pd.read_csv(data_file)
Train_ld.head()

,Stress,Anxiety,Depression,Anxiety.1,Depression.1,Stress.1,Anxiety.2,Stress.2,Anxiety.3,Depression.2,...,Stress.5,Anxiety.4,Depression.4,Depression.5,Stress.6,Anxiety.5,Anxiety.6,Depression.6,Full Name,Gender
0,2,3,1,2,1,0,1,2,1,1,...,1,2,0,0,3,2.0,1,0,Anu Priya,F
1,0,1,1,0,1,2,0,1,1,1,...,1,1,1,1,1,1.0,0,1,Anubha,F
2,3,0,2,0,2,0,0,1,1,1,...,1,1,1,1,1,0.0,0,3,Monalisha sinha,F
3,1,1,0,0,0,0,1,0,1,2,...,1,0,1,0,0,0.0,1,0,Mkm,M
4,1,1,3,0,2,1,2,2,0,3,...,2,0,2,3,0,1.0,1,3,Debasmita Maiti,F

In [2]:
Train_ld.shape

(116, 23)

In [3]:
Train_ld.dtypes

Stress            int64
Anxiety           int64
Depression        int64
Anxiety.1         int64
Depression.1      int64
Stress.1          int64
Anxiety.2         int64
Stress.2          int64
Anxiety.3         int64
Depression.2      int64
Stress.3          int64
Stress.4          int64
Depression.3    float64
Stress.5          int64
Anxiety.4         int64
Depression.4      int64
Depression.5      int64
Stress.6          int64
Anxiety.5       float64
Anxiety.6         int64
Depression.6      int64
Full Name        object
Gender           object
dtype: object

In [4]:
print(Train_ld.columns)

Index(['Stress', 'Anxiety', 'Depression', 'Anxiety.1', 'Depression.1',
       'Stress.1', 'Anxiety.2', 'Stress.2', 'Anxiety.3', 'Depression.2',
       'Stress.3', 'Stress.4', 'Depression.3', 'Stress.5', 'Anxiety.4',
       'Depression.4', 'Depression.5', 'Stress.6', 'Anxiety.5', 'Anxiety.6',
       'Depression.6', 'Full Name', 'Gender'],
      dtype='object')

In [5]:
Train_ld.isnull().sum()

Stress          0
Anxiety         0
Depression      0
Anxiety.1       0
Depression.1    0
Stress.1        0
Anxiety.2       0
Stress.2        0
Anxiety.3       0
Depression.2    0
Stress.3        0
Stress.4        0
Depression.3    1
Stress.5        0
Anxiety.4       0
Depression.4    0
Depression.5    0
Stress.6        0
Anxiety.5       1
Anxiety.6       0
Depression.6    0
Full Name       0
Gender          0
dtype: int64

In [6]:
Train_ld['Depression.3'] = Train_ld['Depression.3'].fillna(Train_ld['Depression.3'].mode()[0])
Train_ld['Anxiety.5'] = Train_ld['Anxiety.5'].fillna(Train_ld['Anxiety.5'].mode()[0])
Train_ld.isnull().sum()

Stress          0
Anxiety         0
Depression      0
Anxiety.1       0
Depression.1    0
Stress.1        0
Anxiety.2       0
Stress.2        0
Anxiety.3       0
Depression.2    0
Stress.3        0
Stress.4        0
Depression.3    0
Stress.5        0
Anxiety.4       0
Depression.4    0
Depression.5    0
Stress.6        0
Anxiety.5       0
Anxiety.6       0
Depression.6    0
Full Name       0
Gender          0
dtype: int64

In [7]:
Train_ld['Depression.3'] = Train_ld['Depression.3'].apply(np.int64)
Train_ld['Anxiety.5'] = Train_ld['Anxiety.5'].apply(np.int64)
Train_ld.dtypes

Stress           int64
Anxiety          int64
Depression       int64
Anxiety.1        int64
Depression.1     int64
Stress.1         int64
Anxiety.2        int64
Stress.2         int64
Anxiety.3        int64
Depression.2     int64
Stress.3         int64
Stress.4         int64
Depression.3     int64
Stress.5         int64
Anxiety.4        int64
Depression.4     int64
Depression.5     int64
Stress.6         int64
Anxiety.5        int64
Anxiety.6        int64
Depression.6     int64
Full Name       object
Gender          object
dtype: object

In [8]:
Train_ld.drop('Full Name', axis=1, inplace=True)
Train_ld.head()

,Stress,Anxiety,Depression,Anxiety.1,Depression.1,Stress.1,Anxiety.2,Stress.2,Anxiety.3,Depression.2,...,Depression.3,Stress.5,Anxiety.4,Depression.4,Depression.5,Stress.6,Anxiety.5,Anxiety.6,Depression.6,Gender
0,2,3,1,2,1,0,1,2,1,1,...,1,1,2,0,0,3,2,1,0,F
1,0,1,1,0,1,2,0,1,1,1,...,1,1,1,1,1,1,1,0,1,F
2,3,0,2,0,2,0,0,1,1,1,...,2,1,1,1,1,1,0,0,3,F
3,1,1,0,0,0,0,1,0,1,2,...,1,1,0,1,0,0,0,1,0,M
4,1,1,3,0,2,1,2,2,0,3,...,1,2,0,2,3,0,1,1,3,F

In [9]:
Gender_Count = {'M': 1,'F': 2}
Train_ld.Gender = [Gender_Count[item] for item in Train_ld.Gender] 
#le = LabelEncoder()
#ld['Gender'] = le.fit_transform(ld['Gender'])
Train_ld.head()

,Stress,Anxiety,Depression,Anxiety.1,Depression.1,Stress.1,Anxiety.2,Stress.2,Anxiety.3,Depression.2,...,Depression.3,Stress.5,Anxiety.4,Depression.4,Depression.5,Stress.6,Anxiety.5,Anxiety.6,Depression.6,Gender
0,2,3,1,2,1,0,1,2,1,1,...,1,1,2,0,0,3,2,1,0,2
1,0,1,1,0,1,2,0,1,1,1,...,1,1,1,1,1,1,1,0,1,2
2,3,0,2,0,2,0,0,1,1,1,...,2,1,1,1,1,1,0,0,3,2
3,1,1,0,0,0,0,1,0,1,2,...,1,1,0,1,0,0,0,1,0,1
4,1,1,3,0,2,1,2,2,0,3,...,1,2,0,2,3,0,1,1,3,2

In [10]:
#ld = ld.drop(['Full Name'])